*   {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: blueviolet;
}

header {
    background-color: yellow;
}

main {
    background-color: lightgreen;
    padding: 30px;
    margin-top: 30px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}

article {
    /* border: 5px solid; */
    width: 50%;
}

img {
    width: 50%;
}

/* Här använder vi en klass som selector */
/* .text-red {
    color: black;
} */

/* Här använder vi ett ID som selector */
/* #underRubrik {
    color: blue;
} */

footer {
    background-color: lightpink;
}